@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-cols-4-cell {
    grid-template-columns: repeat(4, minmax(0, 90px));
  }

  .grid-rows-fit {
    grid-template-rows: repeat(auto-fit, minmax(0, 90px));
  }

  .grid-cols-fit {
    grid-template-columns: repeat(auto-fit, minmax(0, 90px));
  }

  .grid-rows-fill {
    grid-template-rows: repeat(auto-fill, minmax(0, 90px));
  }

  .grid-cols-fill {
    grid-template-columns: repeat(auto-fill, minmax(0, 90px));
  }
}
